<h1>Das Konsumspiel</h1>
<p>Werde dir bewusst wie viel du wirklich konsumierst und stop den Überkonsum.</p>

<div class="button btn-yellow">
  <%= link_to "Starten", players_index_path %>
</div>

<%= cl_image_tag("title.png", class: "title-img")%>