<h1>Das Konsumspiel</h1>
<p>Trage deine Einkäufe ein:</p>
<div class="spacer"></div>

<div class="container-left m-auto">
    <%= simple_form_for(@useritem) do |f| %>
    <%= f.input :item, label: "Was hast du gekauft?", as: :select, collection: @items %>
    <%= f.input :number, label: "Anzahl" %>
    <%= f.button :submit, "Speichern", class: "submit-button" %>
    <% end %>
</div>
