<h1>Liste aller Konsumgüter</h1>
<p>Jedem Konsumgut ist eine spezifische Anzahl Punkte zugeteilt:</p>

<div class="spacer"></div>
<div class="container">

<table style="width:100%">
    <tr>
    <th>Konsumgut</th>
    <th>Punkte</th>
    </tr>
    <%= @items.each do |item| %>
        <tr>
            <td><%= item.name %></td>
            <td><%= item.item_points %></td>
        </tr>
    <% end %>
</table>
</div>