.footer {
    background: #005C4E;
    height: 40px;
    padding: 0px 50px;
    color: $body-color;
    text-align: center;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #FFDF00;
  }
  