.navbar-lewagon {
  background: #005C4E;
}

.nav-item {
  background: $body-color;
  color: #005C4E;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.nav-item:hover {
  color: #005C4E;
}