.navbar-lewagon {
  background: #005C4E;
  margin-bottom: 20px;
}

.nav-item.active {
  background: #FCE76A;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-right: 10px;
  max-width: 200px;
}

.nav-item {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.nav-item:hover {
  transform: scale(1.05) perspective(1px);
}

.nav-link {
  color: #005C4E !important;
}

.nav-link.inactive {
  color: #FCE76A !important;
}